.raw-margin-left-24{
  margin-left: 24px;
}

.raw-margin-top-24{
  margin-top: 24px;
}

.raw-margin-right-8{
  margin-right: 8px;
}

.raw-margin-right-10{
  margin-right: 10px;
}

.raw-margin-right-32{
  margin-right: 32px;
}