

#banner h2 {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
  display: inline-block;
  font-size: 6.75em;
  letter-spacing: 0;
  opacity: 1;
  padding: 0em .8em;
  margin-bottom: .5em;
  position: relative;
  z-index: 1;
}

.special-character::before {
  content: attr(specia-character);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: .03em #2e3842;
}

.special-character {
  transform: rotate(90deg);
  display: inherit;
  position: relative;
  margin-left: -27px;
  margin-right: -49px;
  font-size: 1.5em;
  -webkit-text-stroke: 0.01em #d13030;
}